
@font-face {
    font-family: Orbitron-VariableFont_wght;
    src: url(../../fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat-Italic;
    src: url(../../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}
.brief-intro-Head {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 800;
}
.brifIntro {
    width: 80%;
    color: white;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    /* background-color: white; */
    padding: 50px;
    font-family: 'Montserrat-Italic';
    border-radius: 15px;
    /* width: 60%; */
}
@media only screen and (max-width: 1000px) {
    .brief-intro-Head {
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 800;
    }
    .brifIntro {
        width: 100%;
        color: white;
        font-size: 10px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5px;
        /* background-color: white; */
        padding: 5px;
        font-family: 'Montserrat-Italic';
        border-radius: 5px;
        width: 100%;

        margin-bottom: 10px;
    }
    
}