@font-face {
  font-family: Orbitron-VariableFont_wght;
  src: url(../../fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(../../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}
.brief-intro-Head {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 800;
}
.brifIntro {
  /* background-color: azure; */
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: "Montserrat-Italic";
  padding-bottom: 50px;
}
.intro-class {
  margin-right: 15%;
  margin-left: 15%;
}
@media only screen and (max-width: 1000px) {
  .brief-intro-Head {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 800;
  }
  .brifIntro {
    width: 100%;
    color: white;
    font-size: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    /* background-color: white; */
    padding: 5px;
    font-family: "Montserrat-Italic";
    border-radius: 5px;
    width: 100%;

    margin-bottom: 10px;
  }
}
