@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-white text-gray-800;
  }
  .dynamic-text li span::after {
    @apply dark:bg-[#1f2937] bg-white;
  }
}

/* border gradient */
.border-gradient {
  border-image: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-image-slice: 1;
  animation: animatedgradient 3s ease alternate infinite;
  transition: all;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes animatedgradient {
  0% {
    border-image: linear-gradient(
      70deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );

    border-image-slice: 1;
  }
  100% {
    border-image: linear-gradient(
      120deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );

    border-image-slice: 1;
  }
}

/* border gradient */

/* typewiter effect blinker*/
.dynamic-text {
  height: var(--itemheight);
  line-height: var(--itemheight);
}
.dynamic-text li {
  position: relative;
  top: 0;
  /* animation: slide 6s steps(3) infinite; */
  animation: var(--steps);
}
@keyframes slide {
  100% {
    top: var(--totalheight);
  }
}
.dynamic-text li span {
  position: relative;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0%;
  border-left: 2px solid red;
  animation: var(--typingspeed);
  /* background: #1f2937; */
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
    width: 1000%;
  }
}

/* infinte scroll animations */

.wrapper {
  margin-inline: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: var(--width);
  left: var(--max);
  animation: scrollLeft 30s linear infinite;
}
.item1 {
  animation-delay: var(--delay);
}

.item2 {
  animation-delay: var(--delay);
}

.item3 {
  animation-delay: var(--delay);
}

.item4 {
  animation-delay: var(--delay);
}

.item5 {
  animation-delay: var(--delay);
}

.item6 {
  animation-delay: var(--delay);
}

.item7 {
  animation-delay: var(--delay);
}

.item8 {
  animation-delay: var(--delay);
}

/* gradient background animation */
.menu-icon-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: menuicon 10s ease infinite;
}

@keyframes menuicon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
